DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/wcftuntas?sslmode=require
SHADOW_DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/wcftuntas_shadow?sslmode=require
AUTH_SECRET=ganti-dengan-random-secret-yang-panjang
BLOB_READ_WRITE_TOKEN=
SEED_ADMIN_EMAIL=admin@wcftuntas.online
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=AdminWcf123!
SEED_EMPLOYEE_EMAIL=operator@wcftuntas.online
SEED_EMPLOYEE_USERNAME=operator
SEED_EMPLOYEE_PASSWORD=OperatorWcf123!
