DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/wcftuntas
AUTH_SECRET=GANTI_DENGAN_SECRET_RANDOM_PANJANG
BLOB_READ_WRITE_TOKEN=
SEED_ADMIN_EMAIL=admin@wcftuntas.online
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=AdminWcf123!
SEED_EMPLOYEE_EMAIL=operator@wcftuntas.online
SEED_EMPLOYEE_USERNAME=operator
SEED_EMPLOYEE_PASSWORD=OperatorWcf123!
